body {
margin: 0px;
padding: 0px;
font-family: 'PT Sans', sans-serif;
font-size: 14px;
line-height: 14px;
font-weight: 400; 
color: #000000;
text-transform: uppercase;
width: 1200px;
background-color: #ffffff;

}

a {
text-decoration: none;
}

.main-header{
margin: 0;
padding: 0;	
}

.navigation {
min-height: 56px;
background-color: #ffffff;	
}

.logo {
margin: 0;
display: flex;
justify-content: center;

}

.navigation-wrapper {
background-color: #ffffff;
min-height: 56px;
width: 100%;
}


.navigation-list {
margin: 25px;
padding: 25 px;
display: flex;
justify-content: space-between;
list-style-type: none;
display: flex;
flex-direction: row;
}

.navigation-list a{
font-weight: bold;
color: #000000;	
}

.section-content {
background-image: url("../img/bg.jpg");
background-repeat: no-repeat;	
}


.description-section {
background-color: #ffffff;
width: 100%;
min-height:	216px;
}
.description-section h1 {
font-size: 21px;
font-weight: bold;
text-align: center;
}
.description-section p{
text-align: center;	
}

.desc-div h2 {
font-size: 30px;
text-align: center;
font-weight: bold;
}

.desc-div p {
text-align: center;	
}

.desc-div {
background-color: #ffffff;
width: 100%;
min-height:	540px;
}

.title-name {
font-size: 21px;
font-weight: bold;
color: #000000;
}

a .title-name {
list-style-type: none;	
}

.contacts-list li {
background-color: #81b3d2;
min-height: 56px;
width: 48px;
}

.list-hotel-description p{
color: #ffffff;	
}
.list-hotel-description .link-more{
color: #ffffff;
font-weight: bold;
}

.list-hotel-description .link-more {
background-color: #81b3d2;
width: 110px;
min-height: 27px;	
}


.list-hotel-description .link-book {
color: #ffffff;
font-weight: bold;
}

.list-hotel-description .link-book {
background-color: #766357;
width: 142px;
min-height: 27px;
}

.hashtag{
font-size: 21px;
color: #000000;
font-weight: bold;
text-decoration: underline;
}
.price {
color: #000000;	
}
span.rating, .link-signature {
color: #000000;	
}

.contacts-list li {
list-style-type: none;
}
